/* start of the first bar */
.upper-bar{
	background-color: #45ccb0;
    
}
.btn{
	border: 1px;
    border-color: blue;
    border-style: dashed;
}

.col-sm{
       margin: auto;

       
}
.row{
 justify-content: space-between;

}
/* end of the first bar */

/* start of the Second bar */
.nav-link{


    padding-left: 65px;
    padding-right: 65px;    

}
 .active{
    background-color:red;
}
/* end of the Second bar */